body {
    font-family: monospace;
    margin: 0;
    
    background-color: #000;
}
.container {
    color: #33ff66;
}
h2 {
    text-transform: lowercase;
}
h1, h2 {
    font-size: 14;
    margin: 0;
}
span {
    animation: Terminal 1s infinite;
}
@keyframes Terminal {
     0% {opacity: 1}
    40% {opacity: 1}
    50% {opacity: 0}
    90% {opacity: 0}
}
